body {
    /* a configuration that afects the page as a whole */
    background-color: aqua;
    margin: 0;
    padding: 0;
    /* scroll behaviour tell a browser that whenever  a user is scrolling a page provide a smooth experience instead of jumping from one place to the other */
    scroll-behavior: smooth;
}


/* navbar config */

.logo {
    color: rgb(31, 158, 158);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.logo span {
    color: rgb(131, 93, 47);
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
}

.nav-wrapper {
    background-color: black;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 60%;
}

ul {
    display: flex;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

li {
    list-style: none;
}

li a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 900;
}


/* navabar conig ends here */

.wrapper {
    /* a configuration that afects our box containing all text and buttons*/
    /* the auto attribute means set yourself to a sensible with for the contents inside you wile minding the screen properties */
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* i explained display flex as a means of telling your code that you want the following line to be on a straight file */
    display: flex;
    /* with flex direction we are tweaking our code to stray away from the usual straight line (horizontal) format to a vertical movement*/
    flex-direction: column;
    /* justify means on a horizontal scale of view stay at the center while align is the opposite take them as x axis and y axis format of maths for better understanding  */
    justify-content: center;
    align-items: center;
}

.header {
    /* a configuration that afects the header of the page*/
    color: wheat;
    text-transform: capitalize;
    /* text tranform changes things to capital letters */
    /* text-align: center; */
    font-weight: 900;
    font-size: 2.5em;
    font-family: sans-serif;
    /* margin-top: 150px; */
}


/*  checkout the space for span in our html file, remeber a span does nothing specifically than to give us the ability to keep our files the same way they are while we can edit them perfectly with css */

.header span {
    color: rgb(31, 158, 158);
}


/* #p means id p */

#p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: monospace;
    /* when setting fontweight, you dont need to add px or pt or pc to it all you need is to indicate a value */
    font-weight: 140;
}

#introduce {
    /* watch the negative sign in front our margin bottom, it beans reduce your margin */
    margin-bottom: -10px;
    font-weight: 500;
    color: rgb(131, 93, 47);
    font-size: 1rem;
    font-family: monospace;
}


/* remeber h6 is a tag so we dont need any qualifier like . or # */


/* h6 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 140px;
} */

button {
    /* text-align: center; */
    background-color: rgb(31, 158, 158);
    padding: 12px;
    /*  border none means remove useless lines  */
    border: none;
    margin: 10px;
    border-radius: 4px;
}


/*  with button a, we are trying to be more specific by saying css should only talk to any anchor tag that has a button tag shielding it which means anchor tag inside a button tag */

button a {
    /* text decoration removes unwanted acts that comes with anchor tags */
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
}


/* . is for class */


/* # is for id */


/* for tags you dont need add anything */


/* 
h1 {
    text-transform: uppercase;
    margin: 30px;
    padding: 40px;
}

h6 {
    background-color: #222;
    color: #fff;
    text-align: right;
} */