body {
    /* a configuration that afects the page as a whole */
    background-color: aqua;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.wrapper {
    /* a configuration that afects our box containing all text and buttons*/
    width: 500px;
    height: 500px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.header {
    /* a configuration that afects the header of the page*/
    color: rgb(12, 139, 12);
    text-transform: capitalize;
    /* text tranform changes things to capital letters */
    text-align: center;
    font-weight: 140px;
    margin-top: 150px;
}


/* #p means id p */

#p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 140px;
}


/* remeber h6 is a tag so we dont need any qualifier like . or # */

h6 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 140px;
}

button {
    text-align: center;
    color: aqua;
    background-color: beige;
    padding: 10px;
}


/* . is for class */


/* # is for id */


/* for tags you dont need add anything */


/* 
h1 {
    text-transform: uppercase;
    margin: 30px;
    padding: 40px;
}

h6 {
    background-color: #222;
    color: #fff;
    text-align: right;
} */